<ul style="list-style: none;">
  <%
    if AppConfig.has_key?(:aspace_reparative_descriptions_sort) && ['asc','desc'].include?(AppConfig[:aspace_reparative_descriptions_sort])
      reparative_descriptions = ReparativeDescriptionsPUIHelper.sort_reparative_descriptions(reparative_descriptions)
    end 
  %>
  <% reparative_descriptions.each do |rd| %>
    <li>
        <p>
          <%== process_mixed_content(AspaceReparativeDescriptionsHelper.assemble_reparative_description_text(rd)) %>
        </p>
    </li>
  <% end %>
</ul>
